{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block body %}
    <div class="all">
        <div class="left">
            Information
        </div>
            <div class="separator"></div>
        <div class="right">
            <span class="line-text">Pharma
            <br><span>41 rue de la ville, 12 345 ville</span></span>
            <button type="submit" class="w-100 p-3 btn btn-info btn-primary btn-lg btn-block"><span class="material-symbols-outlined">medical_services</span> Access the store <span class="material-symbols-outlined">arrow_circle_right</span></button>
        </div>
    </div>
{% endblock %}
