{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
    <div class="main_shop">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" value={% block valueSearch %}""{% endblock %} placeholder="Rechercher..." aria-label="Recherche" name="search">
            <button class="btn btn-outline-success" type="submit" formaction="{{ path('app_shop') }}">Rechercher</button>
        </form>
        <div class="articles">
            {% for article in articles %}
                <div class="article">
                    <img alt="[article image]" src="{{ article.picture }}" width="200" height="200">
                    <div class="article_info">
                        <span class="article_name"> {{ article.name }}  </span>
                        <span class="article_price">{{ article.price }}€</span>
                    </div>
                    <div class="article_to_cart">
                        <span> Quantité </span>
                        <a href=""><span class="material-symbols-outlined">shopping_cart</span></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
