{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block stylesheets %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        form {
            margin: 10px;
        }
        div.articles {
            display:flex;
            flex-wrap:wrap;
            justify-content: space-evenly;
            align-items: center;
            height: 80vmin;
            overflow-y:scroll;
        }
        div.article {
            width: 30%;
            margin-bottom: 10px;
            border: 1px gray solid;
            border-radius: 5px;
        }
        div.article_info {
            display:flex;
            justify-content: space-between;
        }
        div.article_to_cart {
            background-color: lightgreen;
        }
    </style>
{% endblock %}

{% block body %}
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" value={% block valueSearch %}""{% endblock %} placeholder="Rechercher..." aria-label="Recherche" name="search">
        <button class="btn btn-outline-success" type="submit" formaction="{{ path('app_shop') }}">Rechercher</button>
    </form>
    <div class="articles">
        {% for i in 1..100 %}
            <div class="article">
                <img alt="[article image]" src=""> <br />
                <div class="article_info">
                    <span class="article_name">Produit</span>
                    <span class="article_price">00.00€</span>
                </div>
                <div class="article_to_cart">
                    <span> Quantité </span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
