{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
    <h1>List of products</h1>
    <div class="articles">
        {% for i in 1..10 %}
            <div class="article"><span class="article_name">[article name]</span><span class="article_price">[article_price]</span></div>
        {% endfor %}
    </div>
{% endblock %}
