body {
    background-color: white;
}

.justify{
    text-align: justify;
    text-justify: inter-word;
}
/* Home page */
.line-text {
    display: inline-block;
    background-color: #aacd4e;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}
.all {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.left {
    flex: 1;
    padding: 10px;
}
.right {
    flex: 1;
    padding: 10px;
}
.separator {
    margin-top: 5px;
    width: 2px;
    background-color: #000;
}
.hidden-text {
    display: none;
}
.toggle {
    cursor: pointer;
}
