body {
    background-color: white;
}

.justify{
    text-align: justify;
    text-justify: inter-word;
}

/* Home page */

.line-text {
    display: inline-block;
    background-color: #e1dd72;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}
.all {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.left {
    flex: 1;
    padding: 10px;
}
.right {
    flex: 1;
    padding: 10px;
}
.hidden-text {
    display: none;
}
.toggle {
    cursor: pointer;
}
.box {
    border: 15px solid #e1dd72;
    border-bottom: 5px solid #e1dd72;
    border-top: 5px solid #e1dd72;
    border-radius: 10px;
    background-color: #e1dd72;
}
.box_info {
    color: darkslategrey;
    display: flex;
    justify-content: flex-end;
}
.box_title {
    display: flex;
    justify-content: center;
}
.checkbox-list {
    max-height: 200px;
    overflow-y: auto;
}
.form-check {
    margin-bottom: 10px;
}
hr.separator {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 2px;
    height: auto;
    background-color: #000;
    padding: 0;
}
@media screen and (max-width: 635px) {
    .all {
        flex-direction: column;
    }

    hr.separator {
        width: 100%;
        background-color: #000;
        padding: 0;
    }
}