{% extends 'base.html.twig' %}

{% set title = 'Make your new account !' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<br>
<div class="box">
    <h1>{{ title }}</h1>
    {{ include('user/_form.html.twig', {submit_label: 'Create', form: form, button: 'w-100 p-3 btn btn-success btn-primary btn-lg btn-block'}, with_context=false) }}
</div>
{% endblock %}
